body{
    background-color: rgba(242, 242, 242, 0.454);
    color: rgb(75, 75, 75);
    display:flex;
    flex-direction: column;
    margin: 4rem;
    line-height: 30px;
    font-size: 14px;
}

.h1{
    font-family:Arial, Helvetica, sans-serif;
    color: rgba(102, 163, 165, 0.762);
    padding-bottom: 10px;
}

.flex-container{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 700px;
}

.first-container{
    font-size: 13px;
    display:flex;
    flex-direction: column;
    line-height: 22px;
}


.bio{
  border: 1px solid rgba(47, 47, 47, 0.808);
  border-radius: 4px;
  padding: 10px;
}

.submit{
  width: 400px;
  height: 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(102, 163, 165, 0.762);
  border-radius: 4px;
  border: none;
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
  position: relative;
  z-index: 1;
  }
  
  .submit:hover{
    color: #fff;
    cursor: pointer;
  }
  
  .submit:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgba(102, 163, 165, 0.762);
    border-radius: 4px;
  }
  
  .submit:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
    